.status-bar {
    display: flex;                                      /* 요소들을 가로로 정렬 */
    justify-content: space-between;                     /* 요소들끼리 최대한 떨어트림 */
    margin-bottom: 30px;                                
    opacity: 0.7;                                       /* 색깔을 0.7만큼만 보여줌 */
                               
}

.status-bar i {
    font-size: 14px;                                    /* 아이콘 크기 */
}

.status-bar .status-bar__battery-level{
    margin-left: 2px;
}
